.vs/
/bin/
/obj/
Shared/bin/Debug/net6.0/Huddle.Domain.dll
Shared/bin/Debug/net6.0/Huddle.Domain.pdb
Shared/bin/Debug/net6.0/Shared.deps.json
Shared/bin/Debug/net6.0/Shared.dll
Shared/bin/Debug/net6.0/Shared.pdb
Shared/obj/project.assets.json
Shared/obj/project.nuget.cache
Shared/obj/Shared.csproj.nuget.dgspec.json
Shared/obj/Shared.csproj.nuget.g.props
Shared/obj/Shared.csproj.nuget.g.targets
Shared/obj/Debug/net6.0/Shared.assets.cache
Shared/obj/Debug/net6.0/Shared.csproj.AssemblyReference.cache
Shared/obj/Debug/net6.0/Shared.csproj.CopyComplete
Shared/obj/Debug/net6.0/Shared.csproj.CoreCompileInputs.cache
Shared/obj/Debug/net6.0/Shared.csproj.FileListAbsolute.txt
Shared/obj/Debug/net6.0/Shared.dll
Shared/obj/Debug/net6.0/Shared.pdb
Shared/obj/Debug/net6.0/ref/Shared.dll
Shared/obj/Debug/net6.0/refint/Shared.dll
Shared/Profiles/GroupProfiles/PlaceProfile.cs
Repositories/obj/project.assets.json
Repositories/obj/project.nuget.cache
Repositories/obj/Repositories.csproj.nuget.dgspec.json
Repositories/obj/Repositories.csproj.nuget.g.props
Repositories/obj/Repositories.csproj.nuget.g.targets
Repositories/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Repositories/obj/Debug/net6.0/Repositories.AssemblyInfo.cs
Repositories/obj/Debug/net6.0/Repositories.AssemblyInfoInputs.cache
Repositories/obj/Debug/net6.0/Repositories.assets.cache
Repositories/obj/Debug/net6.0/Repositories.csproj.AssemblyReference.cache
Repositories/obj/Debug/net6.0/Repositories.csproj.BuildWithSkipAnalyzers
Repositories/obj/Debug/net6.0/Repositories.csproj.CopyComplete
Repositories/obj/Debug/net6.0/Repositories.csproj.CoreCompileInputs.cache
Repositories/obj/Debug/net6.0/Repositories.csproj.FileListAbsolute.txt
Repositories/obj/Debug/net6.0/Repositories.dll
Repositories/obj/Debug/net6.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
Repositories/obj/Debug/net6.0/Repositories.genruntimeconfig.cache
Repositories/obj/Debug/net6.0/Repositories.GlobalUsings.g.cs
Repositories/obj/Debug/net6.0/Repositories.pdb
Repositories/obj/Debug/net6.0/ref/Repositories.dll
Repositories/obj/Debug/net6.0/refint/Repositories.dll
Repositories/bin/Debug/net6.0/Huddle.Domain.dll
Repositories/bin/Debug/net6.0/Huddle.Domain.pdb
Repositories/bin/Debug/net6.0/Repositories.deps.json
Repositories/bin/Debug/net6.0/Repositories.dll
Repositories/bin/Debug/net6.0/Repositories.pdb
Repositories/bin/Debug/net6.0/Repositories.runtimeconfig.json
Repositories/bin/Debug/net6.0/Shared.dll
Repositories/bin/Debug/net6.0/Shared.pdb
Huddle/bin/Debug/net6.0/Huddle.Application.dll
Huddle/bin/Debug/net6.0/Huddle.Application.pdb
Huddle/bin/Debug/net6.0/Huddle.deps.json
Huddle/bin/Debug/net6.0/Huddle.dll
Huddle/bin/Debug/net6.0/Huddle.Domain.dll
Huddle/bin/Debug/net6.0/Huddle.Domain.pdb
Huddle/bin/Debug/net6.0/Huddle.pdb
Huddle/bin/Debug/net6.0/Repositories.dll
Huddle/bin/Debug/net6.0/Repositories.pdb
Huddle/bin/Debug/net6.0/Shared.dll
Huddle/bin/Debug/net6.0/Shared.pdb
Huddle/obj/Huddle.csproj.nuget.dgspec.json
Huddle/obj/project.assets.json
Huddle/obj/project.nuget.cache
Huddle/obj/staticwebassets.pack.sentinel
Huddle/obj/Debug/net6.0/Huddle.assets.cache
Huddle/obj/Debug/net6.0/Huddle.csproj.AssemblyReference.cache
Huddle/obj/Debug/net6.0/Huddle.csproj.CoreCompileInputs.cache
Huddle/obj/Debug/net6.0/Huddle.csproj.FileListAbsolute.txt
Huddle/obj/Debug/net6.0/Huddle.dll
Huddle/obj/Debug/net6.0/Huddle.pdb
Huddle/obj/Debug/net6.0/ref/Huddle.dll
Huddle/obj/Debug/net6.0/refint/Huddle.dll
Huddle.Domain/obj/Huddle.Domain.csproj.nuget.dgspec.json
Huddle.Domain/obj/project.assets.json
Huddle.Domain/obj/project.nuget.cache
Huddle.Domain/obj/Debug/net6.0/Huddle.Domain.assets.cache
Huddle.Domain/obj/Debug/net6.0/Huddle.Domain.csproj.AssemblyReference.cache
Huddle.Domain/obj/Debug/net6.0/Huddle.Domain.csproj.CoreCompileInputs.cache
Huddle.Domain/obj/Debug/net6.0/Huddle.Domain.csproj.FileListAbsolute.txt
Huddle.Domain/obj/Debug/net6.0/Huddle.Domain.dll
Huddle.Domain/obj/Debug/net6.0/Huddle.Domain.pdb
Huddle.Domain/obj/Debug/net6.0/ref/Huddle.Domain.dll
Huddle.Domain/obj/Debug/net6.0/refint/Huddle.Domain.dll
Huddle.Application/obj/Huddle.Application.csproj.nuget.dgspec.json
Huddle.Application/obj/project.assets.json
Huddle.Application/obj/project.nuget.cache
Huddle.Application/obj/Debug/net6.0/Huddle.Application.assets.cache
Huddle.Application/obj/Debug/net6.0/Huddle.Application.csproj.AssemblyReference.cache
Huddle.Application/obj/Debug/net6.0/Huddle.Application.csproj.CoreCompileInputs.cache
Huddle.Application/obj/Debug/net6.0/Huddle.Application.csproj.FileListAbsolute.txt
Huddle.Application/obj/Debug/net6.0/Huddle.Application.dll
Huddle.Application/obj/Debug/net6.0/Huddle.Application.pdb
Huddle.Application/obj/Debug/net6.0/ref/Huddle.Application.dll
Huddle.Application/obj/Debug/net6.0/refint/Huddle.Application.dll
Huddle.Domain/bin/Debug/net6.0/Huddle.Domain.deps.json
Huddle.Domain/bin/Debug/net6.0/Huddle.Domain.dll
Huddle.Domain/bin/Debug/net6.0/Huddle.Domain.pdb
Huddle.Application/bin/Debug/net6.0/Huddle.Application.deps.json
Huddle.Application/bin/Debug/net6.0/Huddle.Application.dll
Huddle.Application/bin/Debug/net6.0/Huddle.Application.pdb
Huddle.Application/bin/Debug/net6.0/Huddle.Domain.dll
Huddle.Application/bin/Debug/net6.0/Huddle.Domain.pdb
Huddle.Application/bin/Debug/net6.0/Repositories.dll
Huddle.Application/bin/Debug/net6.0/Repositories.pdb
Huddle.Application/bin/Debug/net6.0/Shared.dll
Huddle.Application/bin/Debug/net6.0/Shared.pdb
Repositories/Repositories.csproj
Shared/Shared.csproj
Huddle.Domain/Huddle.Domain.csproj
Huddle.Application/Huddle.Application.csproj
